@charset "utf-8";
/* CSS Document */
.asideAnimation
{
	display:none;	
}
/*aside .pagination a:hover
{
	-webkit-animation-name: hoverIn;
	-webkit-animation-duration: 0.3s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: hoverIn;
	-moz-animation-duration: 0.3s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;	
	-moz-animation-direction: normal;
	-moz-animation-delay: 0;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;	
	
	-ms-animation-name: hoverIn;
	-ms-animation-duration: 0.3s;
	-ms-animation-timing-function: ease;
	-ms-animation-iteration-count: 1;	
	-ms-animation-direction: normal;
	-ms-animation-delay: 0;
	-ms-animation-play-state: running;
	-ms-animation-fill-mode: forwards;
	
	animation-name: hoverIn;
	animation-duration: 0.3s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
	display:block;
}
@-webkit-keyframes hoverIn
{
	0%
	{
		background-position:0 -48px;
	}
	50%
	{
		background-position:0 -10px;
	}
	100% {
		background-position:0 0;
	}
	
}

@-moz-keyframes hoverIn
{
	0%
	{
		background-position:0 -48px;
	}
	50%
	{
		background-position:0 -10px;
	}
	100% {
		background-position:0 0;
	}
	
}

@-ms-keyframes hoverIn
{
	0%
	{
		background-position:0 -48px;
	}
	50%
	{
		background-position:0 -10px;
	}
	
	100% {
		background-position:0 0;
	}
	
}
@keyframes hoverIn
{
	0%
	{
		background-position:0 -48px;
	}
	50%
	{
		background-position:0 -10px;
	}
	100% {
		background-position:0 0;
	}
	
}*/
.asideAnimation.animate
{	
	-webkit-animation-name: slideIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: slideIn;
	-moz-animation-duration:1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;	
	-moz-animation-direction: normal;
	-moz-animation-delay: 0;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;	
	
	-ms-animation-name: slideIn;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-iteration-count: 1;	
	-ms-animation-direction: normal;
	-ms-animation-delay: 0;
	-ms-animation-play-state: running;
	-ms-animation-fill-mode: forwards;
	
	animation-name: slideIn;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
	display:block;
}
.asideAnimation.animateOut
{	
	-webkit-animation-name: slideOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: slideOut;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;	
	-moz-animation-direction: normal;
	-moz-animation-delay: 0;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;	
	
	-ms-animation-name: slideOut;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-iteration-count: 1;	
	-ms-animation-direction: normal;
	-ms-animation-delay: 0;
	-ms-animation-play-state: running;
	-ms-animation-fill-mode: forwards;
	
	animation-name: slideOut;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;	
}
@-webkit-keyframes slideIn
{
	90%
	{
		left:55%
	}
	100% {
		left:57%
	}
	
}

@-moz-keyframes slideIn
{
	90%
	{
		left:55%
	}
	100% {
		left:57%
	}
	
}

@-ms-keyframes slideIn
{
	90%
	{
		left:55%
	}
	100% {
		left:57%
	}
	
}
@keyframes slideIn
{
	90%
	{
		left:55%
	}
	100% {
		left:57%
	}
	
}

@-webkit-keyframes slideOut
{
	0%{
		left:47%
	}
	80%
	{
		left:130%;
	}
	100% {
		display:none;
	}
	
}

@-moz-keyframes slideOut
{
	0%{
		left:47%
	}
	80%{
		left:130%;
	}
	100% {
		display:none;
	}
	
}

@-ms-keyframes slideOut
{
	0%{
		left:47%
	}
	80%{
		left:130%;
	}
	100% {
		display:none;
	}
	
}
@keyframes slideOut
{
	0%{
		left:47%
	}
	80%
	{
		left:130%;
	}
	100% {
		display:none;
	}
	
}
.shopAnimation
{
	display:none;
}
.shopAnimation.animate
{	
	-webkit-animation-name: slideUpIn;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: slideUpIn;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;	
	-moz-animation-direction: normal;
	-moz-animation-delay: 0;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;	
	
	-ms-animation-name: slideUpIn;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-iteration-count: 1;	
	-ms-animation-direction: normal;
	-ms-animation-delay: 0;
	-ms-animation-play-state: running;
	-ms-animation-fill-mode: forwards;
	
	animation-name: slideUpIn;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
	display:block;
}
@-webkit-keyframes slideUpIn
{
	90%
	{
		bottom:-10%
	}
	100% {
		bottom:13%
	}
	
}

@-moz-keyframes slideUpIn
{
	90%
	{
		bottom:-10%
	}
	100% {
		bottom:13%
	}
	
}

@-ms-keyframes slideUpIn
{
	90%
	{
		bottom:-10%
	}
	100% {
		bottom:13%
	}
	
}
@keyframes slideUpIn
{
	90%
	{
		bottom:-10%
	}
	100% {
		bottom:13%
	}
	
}
.shopAnimation.animateOut
{	
	-webkit-animation-name: slideDownOut;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;	
	-webkit-animation-direction: normal;
	-webkit-animation-delay: 0;
	-webkit-animation-play-state: running;
	-webkit-animation-fill-mode: forwards;	
	
	-moz-animation-name: slideDownOut;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: ease;
	-moz-animation-iteration-count: 1;	
	-moz-animation-direction: normal;
	-moz-animation-delay: 0;
	-moz-animation-play-state: running;
	-moz-animation-fill-mode: forwards;	
	
	-ms-animation-name: slideDownOut;
	-ms-animation-duration: 1s;
	-ms-animation-timing-function: ease;
	-ms-animation-iteration-count: 1;	
	-ms-animation-direction: normal;
	-ms-animation-delay: 0;
	-ms-animation-play-state: running;
	-ms-animation-fill-mode: forwards;
	
	animation-name: slideDownOut;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;	
}
@-webkit-keyframes slideDownOut
{
	66% {
		bottom:30%
	}
	100% {
		bottom:120%
	}
}

@-moz-keyframes slideDownOut
{
	0%
	{
		bottom:10%		
	}
	66% {
		bottom:100%
	}
	100% {
		bottom:120%
	}
	
}

@-ms-keyframes slideDownOut
{
	0%
	{
		bottom:10%		
	}
	66% {
		bottom:100%
	}
	100% {
		bottom:120%
	}
}
@keyframes slideDownOut
{
	0%
	{
		bottom:10%		
	}
	66% {
		bottom:100%
	}
	100% {
		bottom:120%
	}	
}