@charset "utf-8";
/* CSS Document */
.asideAnimation
{
	display:none;	
}
.asideAnimation.animate
{	
	display:block;
	left:57%
}
.asideAnimation.animateOut
{
	left:130%;
	display:none;
}
.shopAnimation.animate
{
	display:block;
	top:0% !important;
}
.shopAnimation.animateOut
{
	top:100%;
	display:none;
}
#loading
{
	background:#FFFFFF;
}
aside
{
	background:#FFFFFF;
}